<head>
    <!-- Customized Fields -->
    <title>{{title}}</title>
    <meta name="description" content="{{desc}}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:description" content="{{desc}}"/>
    <meta property="og:image" content="/favicon.png"/>
    <meta name="theme-color" content="#00ff7a">
    <!-- Boiler Plate Data -->
    <meta name="viewport" content="width=700px">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>